In [1]:
import requests
import pandas as pd
from dotenv import load_dotenv 
import os 
from sql_functions import encrypt
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 20)

In [2]:
load_dotenv()

Python-dotenv could not parse statement starting at line 9

True

In [3]:
# Define the API endpoint, headers and used variables
url = 'https://www.wixapis.com/stores/v2/inventoryItems/query'
rows_offset = 0
counter = [1]
data = pd.DataFrame()
inventory_df = pd.DataFrame()
headers = {
    'Content-Type': 'application/json',
    'Accept': 'application/json, text/plain, */*',
    'Authorization': os.getenv("wix_api_key"),
    'wix-site-id': os.getenv("statistik_side_id")  
}

for i in counter:
    # Define the query payload as a dictionary
    query_payload = {
        "query": {
            "paging": {
                "offset": rows_offset
            }
        }
    }

    # Make an HTTP POST request
    response = requests.post(url, json=query_payload, headers=headers)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Parse the JSON response
        data = response.json()
        data = data.get("inventoryItems")

        # Normalize and concatenate the wanted data
        temporary_df = pd.json_normalize(data, sep="_") 
        inventory_df = pd.concat([temporary_df,inventory_df])

        # Set counter and offset
        rows_offset += 100
        counter.append(1)

    else:
        print(f"Request failed with status code {response.status_code}: {response.text}")
        print("Or end of request. Check wix_orders's content")
        break

Request failed with status code 400: {"message":"Illegal query offset and limit values. Offset + limit must be less than or equal to 10000. Requested offset: 10000, requested limit: 100","details":{"validationError":{"fieldViolations":[{"field":"Paging","description":"Illegal query offset and limit values. Offset + limit must be less than or equal to 10000. Requested offset: 10000, requested limit: 100","violatedRule":"OTHER","ruleName":"IllegalQueryOffsetAndLimitSum"}]}}}
Or end of request. Check wix_orders's content

In [4]:
inventory_df

,id,externalId,productId,trackQuantity,variants,lastUpdated,numericId,preorderInfo_enabled
0,d4f68a91-dd5c-4b29-a87e-2432f96441d2,2b09756e-22a3-b4d6-5781-dbcd069bbe2d,2b09756e-22a3-b4d6-5781-dbcd069bbe2d,False,[{'variantId': '00000000-0000-0000-0000-000000...,2023-10-04T12:18:19.098Z,1696421899098000,False
1,f29cb3e2-628d-fbde-aafe-5606d82e662f,0d634c1d-9d72-0421-5501-a9f927d199d0,0d634c1d-9d72-0421-5501-a9f927d199d0,False,[{'variantId': '00000000-0000-0000-0000-000000...,2023-10-04T12:17:30.535Z,1696421850535000,False
2,e03cd3f0-898c-b6bb-8544-f0bf0b383f93,1fc32c0f-7673-4944-7abb-0f40f4c7c06c,1fc32c0f-7673-4944-7abb-0f40f4c7c06c,False,[{'variantId': '00000000-0000-0000-0000-000000...,2023-10-04T12:14:27.489Z,1696421667489000,False
3,da46e106-d97d-de77-97b5-207d4833e79e,25b91ef9-2682-2188-684a-df82b7cc1861,25b91ef9-2682-2188-684a-df82b7cc1861,False,[{'variantId': '00000000-0000-0000-0000-000000...,2023-10-04T12:13:23.335Z,1696421603335000,False
4,9f1386dc-ffbb-2514-c429-5bda67c5e6e8,60ec7923-0044-daeb-3bd6-a425983a1917,60ec7923-0044-daeb-3bd6-a425983a1917,False,[{'variantId': '00000000-0000-0000-0000-000000...,2023-10-04T12:10:49.315Z,1696421449315000,False
...,...,...,...,...,...,...,...,...
95,933f8d64-68c9-7633-7996-e7662c53bc8d,6cc0729b-9736-89cc-8669-1899d3ac4372,6cc0729b-9736-89cc-8669-1899d3ac4372,False,[{'variantId': '00000000-0000-0000-0000-000000...,2023-10-04T12:24:46.034Z,1696422286034000,False
96,2276a41c-26da-a5df-748d-3899310e7b88,dd895be3-d925-5a20-8b72-c766cef18477,dd895be3-d925-5a20-8b72-c766cef18477,False,[{'variantId': '00000000-0000-0000-0000-000000...,2023-10-04T12:22:51.920Z,1696422171920000,False
97,06a3979e-cf86-93a7-eada-3f5a4ede831b,f95c6861-3079-6c58-1525-c0a5b1217ce4,f95c6861-3079-6c58-1525-c0a5b1217ce4,False,[{'variantId': '00000000-0000-0000-0000-000000...,2023-10-04T12:21:32.606Z,1696422092606000,False
98,59ad0c10-37fa-abe4-085a-9c50eb89d1cc,a652f3ef-c805-541b-f7a5-63af14762e33,a652f3ef-c805-541b-f7a5-63af14762e33,False,[{'variantId': '00000000-0000-0000-0000-000000...,2023-10-04T12:20:40.777Z,1696422040777000,False
99,8bec5002-64a9-bc4c-f5ed-d2a6943cff06,7413affd-9b56-43b3-0a12-2d596bc300f9,7413affd-9b56-43b3-0a12-2d596bc300f9,False,[{'variantId': '00000000-0000-0000-0000-000000...,2023-10-04T12:19:46.180Z,1696421986180000,False

In [5]:
testerei = inventory_df["variants"].explode()
testerei = pd.json_normalize(testerei, sep="_")
testerei

,variantId,inStock,availableForPreorder,quantity
0,00000000-0000-0000-0000-000000000000,True,False,NaN
1,00000000-0000-0000-0000-000000000000,True,False,NaN
2,00000000-0000-0000-0000-000000000000,True,False,NaN
3,00000000-0000-0000-0000-000000000000,True,False,NaN
4,00000000-0000-0000-0000-000000000000,True,False,NaN
...,...,...,...,...
164,00000000-0000-0000-0000-000000000000,True,False,NaN
165,00000000-0000-0000-0000-000000000000,True,False,NaN
166,00000000-0000-0000-0000-000000000000,True,False,NaN
167,00000000-0000-0000-0000-000000000000,True,False,NaN
168,00000000-0000-0000-0000-000000000000,True,False,NaN